<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    {# Meta keywords #}
    <meta name="keywords" content="inmyscan, anime, vostfr, scan, in my scan, vf, streaming, streaming vostfr, streaming">
    
    {# Meta description #}
    {% block meta_description %}
        <meta name="description" content="Regardez des animes, films et lisez des scans gratuitement en VOSTFR sur InMyScan.">
        <meta name="juicyads-site-verification" content="5b1f0e8f895b0d6faae9f575ed4e0858">
    {% endblock %}
    
    {# OpenGraph meta tags #}
    <meta property="og:title" content="Bienvenue sur InMyScan" />
    <meta property="og:description" content="Regardez des animes, films et lisez des scans gratuitement en VOSTFR sur InMyScan." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{{ asset('img/logo/logo.png') }}" />
    <meta property="og:site_name" content="InMyScan" />
    <meta property="og:locale" content="fr_FR" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    {# Title #}
    <title>{% block title %}Bienvenue sur InMyScan{% endblock %}</title>

    {# Canonical link #}
    <link rel="canonical" href="{{ app.request.uri }}">

    {# Favicon #}
    <link rel="shortcut icon" href="{{ asset('img/logo/logo.png') }}" type="image/png">

    {# Compatibility with older versions of IE #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {# Stylesheets #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}
    
    {# Scripts #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
